*, * ::before, * ::after {
    box-sizing: border-box;
}

body, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-weight: 500;
    color: #1A212F;
}

main {
    background-color: #FFFEFD;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #1A212F;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-small {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-padding {
    padding: 70px 0;
}

.flex {
    display: flex;
}

.body--burger-active {
    overflow: hidden;
}

.nav-burger--active {
    display: block !important;
}

.nav-burger {
    display: none;
    position: relative;
    width: 20px;
    z-index: 5;
    cursor: pointer;
}

.nav-burger__line {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #1A212F;
    transition: all 0.2s;
}

.nav-burger__line--top {
    content: "";
    transform: translateY(-5px);
}

.nav-burger__line--middle {
    content: "";
    transform: translateY(5px);    
}

.nav-burger--active .nav-burger__line--middle {
    opacity: 0;
}

.nav-burger--active .nav-burger__line--top { 
    transform: rotate(-45deg);
}

.nav-burger--active .nav-burger__line--bottom {
    transform: rotate(45deg);
}

.btn-reserve {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 206px;
    height: 50px;
    border-radius: 25px;
    padding: 0;
    padding-left: 30px;
    padding-right: 7px;
    background-color: #FFFEFD;
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    cursor: pointer;
}


.btn-reserve__icon {
    transition: all 0.9s;
}

.btn-reserve__title {
    font-weight: 600;
    font-size: 16px;
    padding: 0 20px;
    transition: all 0.9s;
}

.btn-reserve__title--active {
    transform: translateX(40px);
}

.btn-reserve_icon--active {
    transform: translateX(-155px);
}

.btn-reserve--orange {
    background-color: #FF7236;
}

.btn-reserve:hover  {
    color: #FF7236;
}
.rooms .btn-reserve:hover  {
    color: #FFFFFF;
}

.box-shadow {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}

.main-title {
    font-family: Rubik, sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 63px;
}

.main-icon {
    z-index: 2;
    max-height: 52px;
}

/* menu */

.menu {
    align-items: center;
}

.menu__text {
    padding-left: 30px;
}

.menu__text {
    transition: color 0.3s;
}

.menu__text:hover {
    color: #FF7236;
}

.menu__item--phone, 
.header .socials {
    display: none;
}

.socials__item {
    padding-right: 20px;
}

.socials__item:nth-last-child(1) {
    padding-right: 0;
}

.socials__item svg:hover {
    fill: #FF7236;
}

/* slider */
.controls {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.rooms-arrows,
.reviews-arrows {
    transform: translateX(-70px);
}

.rooms-dots,
.reviews-dots {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -36px;
}

.slick-arrow {
    font-size: 0;
    width: 36px;
    height: 36px;
    border: 0;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
    cursor: pointer;
    outline: none;
}

.slick-arrow:hover {
    box-shadow: 0px 3px 12px rgba(173, 152, 143, 1);
}

.slick-next {
    margin-left: 10px;
}

.slick-next,
.slick-prev {
    position: relative;
} 

.slick-next::before,
.slick-prev::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    border-top: 2px solid #FF7236;
    border-left: 2px solid #FF7236;
    transform: rotate(135deg);
}

.slick-prev::before {
    transform: rotate(-45deg);
}

.slick-dots {
    display: flex;
    font-size: 0;
}

.slick-dots li {
    margin: 0 6px;
}

.slick-dots button {
    width: 12px;
    height: 12px;
    font-size: 0;
    background-color: #E1E1E1;
    padding: 0;
    border: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.slick-dots button:hover {
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 1);
}

.slick-dots .slick-active button {
    background-color: #FAC663;
}

/* header */
.header {
    padding: 12px 0;
    background: #FFFEFD;
}

.header__content {
    justify-content: space-between;
}

/* banner */
.banner {
    background-image: url("../image/banner/banner.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0; 
}

.banner-content {
    padding-left: 100px;
}

.banner-content-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.banner-content-title {
    font-family: Rubik, sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 73px;
}

.banner-content-desc {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
}

/* advantages */
.advantages {
    background-image: url("../image/advantages-icon/paw.svg");
    background-repeat: no-repeat;
    background-position: 100% -4%;
    padding-top: 140px;
}

.advantages__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__item {
    flex: 1 1 calc(33% - 30px);
    max-width: 370px;
    min-width: 230px;
    padding: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.advantages__item:nth-child(3n) {
    margin-right: 0;
}

.advantages__title {
    font-family: Rubik, sans-serif;
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 20px;
}

/* rooms */
.rooms__slider {
    position: relative;
}

.rooms__slider::before {
    content: url("../image/fish-rooms.svg");
    position: absolute;
    top: -20%;
    left: -8%;
}

.rooms__slide {
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateX(70px);
}

.rooms__image {
    flex: 0 2 600px;
    height: 100%;
    background-image: url(" ../image/rooms-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.rooms__desc {
    flex: 0 1 500px;
    padding: 40px;
    line-height: 1;
    padding-left: 100px;
    margin: 60px 0;
    transform: translateX(-70px);
}

.rooms__title {
    font-family: Rubik, sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}

.rooms__list {
    margin-bottom: 30px;
}

.rooms__item {
    display: flex;
    padding-top: 20px;
}

.rooms__item:before {
    content:"";
    display: block;
    min-width: 13px;
    height: 13px;
    background-color: #FAC663;
    border-radius: 50%;
    margin-right: 8px;
}

/* reviews */
.reviews {
    position: relative;
    background: url("../image/paw-reviews.svg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    margin-bottom: 70px;
}

.reviews__slider {
    margin-left: calc(50% - 585px);
}

.reviews__slide {
    padding: 15px;
}

.reviews__container {
    max-width: 470px;
    padding: 35px;  
    padding-left: 70px;
}

.reviews__content {
    position: relative;
}

.reviews__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 20px;
    height: 20px;
    background-image: url("../image/icon/“.svg"); 
    background-size: cover;
}

.reviews__data-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
    margin-top: 25px;
}

/* about-us */
.about-us {
    position: relative;
    background-color:#FAC663;
}

.about-us__content {
   padding: 70px 0;
}

.about-us__list {
    font-weight: 400;
}

.about-us__title {
    font-family: Rubik;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 15px;
}

.about-us__item address {
    max-width: 220px;
}

.about-us__subtitle {
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 15px;
}

.about-us .socials {
    display: flex;
}

.about-us__map {
    position: absolute;
    width: 58.42%;
    height: 100%;
    top: 0;
    right: 0;
}

/* footer */
.footer__nav {
    padding: 12px 0;
}

.footer__copyright {
    font-size: 12px;
    padding: 20px 0;
    color: #8F8F8F;
    border-top: 1px solid #EFEFEF;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* media */
@media screen and (max-width: 1200px) {
    .reviews__slider {
        margin-left: 0;
        padding-left: 15px;
    }

    .rooms__slider::before {
        content: url("../image/fish-rooms-table.svg");
        top: -14%;
        left: -2%;
    }

    .rooms__slide {
        transform: translateX(5%);
    }
}

@media screen and (max-width: 840px) { 
    .advantages__item {
        flex-basis: 40%;
        margin-right: 0;
        margin-bottom: 30px;
        max-width: 500px;
    }

    .advantages__item:nth-child(2n+1) {
        margin-right: 30px;
    }
   
}

@media screen and (max-width: 769px) {
    .container {
        padding: 0 45px;
    }

    .container-small {
        padding: 0 45px;
    }

    .container-padding {
        padding: 60px 0;
    }

    .controls {
        margin-top: 56px;
    }
   
    /* banner */
    .banner {
        background-image: url("../image/banner/Mask-table.svg"),url("../image/banner/cat-table.png");
        padding-bottom:530px ;
    }

    .banner-content {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* advantages */
    .advantages {
        background-image: url("../image/advantages-icon/paw-table.svg");
        background-position: 100% 0%;
        padding-top: 120px;
    }

    .advantages__item p {
        font-size: 15px;
    }

    /* rooms */
    .rooms__slide {
        min-height: 326px;
        transform: translateX(0);
    }

    .rooms__slider::before {
        content: url("../image/fish-rooms-table.svg");
        top: -18%;
        left: -7%;
    }
  
    .rooms__image {
        max-width: 442px;
    }

    .rooms__desc {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 442px;
        max-height: 266px;
        padding: 40px;
        margin: 30px 0;
        transform: translateX(0);
    }

    .rooms__title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .rooms__item {
        font-weight: 400;
        font-size: 15px;
        padding-top: 17px;
    }

    /* reviews */
    .reviews {
        background: url("../image/paw-reviews-table.svg");
        background-repeat: no-repeat;
        background-position: 100% -10%;
        margin-bottom: 60px;
    }

    .reviews__slider {
        padding-left: 45px;
    }

    .reviews__container {
        max-width: 442px;
    }
   
    /* about-us */
    .about-us__content {
        padding: 60px 0;
    }

    .about-us__map {
        position: absolute;
        width: 51.95%;
    }

    .about-us__title {
        margin-bottom: 10px;
    }

    .about-us__subtitle {
        font-size: 15px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 606px) {
    .container {
        padding: 0 15px;
    }

    .container-small {
        padding: 0 15px;
    }

    .container-padding {
        padding: 35px 0;
    }

    .controls {
        margin-top: 36px;
    }
    
    .main-title {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 40px;
    }
    .nav-burger {
        display: block;
    }

    .header .socials {
        display: flex;
    }

    /* menu */
    .header .menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: #FAC663;
        padding: 15px;
        padding-top: 100px;
        font-family: Rubik;
        font-size: 20px;
        line-height: 24px;
        z-index: 1;
    }

    .header .menu__list,
    .menu__item--phone {
        display: block;
    }

    .header .menu__item {
        margin-bottom: 25px;
    }

    .menu__text {
        padding-left: 0;
    }

    .header .menu__text:hover {
        color: #FFFFFF;
    }

    .menu__item--phone {
        font-weight: 400;
        font-size: 16px;
        padding-top: 15px;
    }

    /* banner */
    .banner {
        background-image: url("../image/banner/Mask-mobile.svg"),url("../image/banner/cat-mobile.png");
        padding: 50px 0 231px;
    }

    .banner-content-text {
        font-size: 12px;
    }

    .banner-content-title {
        font-size: 44px;
    }

    .banner-content-desc {
        font-size: 16px;
    }

    /* advantages */
    .advantages {
        background-image: url('../image//advantages-icon/paw-mobile.svg');
        background-position: 100% 2%;
        padding-top: 70px;
    }

    .advantages__title {
        font-size: 18px;
    }

    /* rooms */
    .rooms__slider {
        max-width: 400px;
        margin: 0 auto; 
    }
    
    .rooms__slider::before {
        content: url("../image/fish-rooms-mobile.svg");
        top: -6%;
        left: -5%;
    }
    
    .rooms__slide {
        display: block;
    }

    .rooms__image {
        width: 100%;
        height: 200px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .rooms__desc {
        position: static;
        transform: initial;
        padding: 25px;
        margin: 0;
    }

    .rooms__title {
        margin-bottom: 8px;
    }

    .rooms__list {
        max-width: 220px;
        margin-bottom: 25px;
    }

    .rooms__item {
        padding-top: 17px;
    }

    .rooms__hyphen {
        display: none;
    }

    /* reviews */
    .reviews {
        background: url("../image/paw-reviews-mobile.svg");
        background-repeat: no-repeat;
        background-position: 100% 10%;
        margin-bottom: 35px;
    }

    .reviews__slider {
        margin-left: 0;
        padding-left: 0;
    }

    .reviews__container {
        padding: 25px 21px 25px 56px;
    }

    .reviews__data-info {
        display: none;
    }

    /* about-us */
    .about-us {
        display: block;
        margin-top: 56px;
    }

    .about-us__content {
        padding: 40px 0;
    }

    .about-us__map {
        position: static;
        height: 300px;
        width: 100%;
    }

    .about-us__title {
        font-size: 28px;
    }

    /* footer */
    .footer__nav {
        padding: 30px 0;
    }

    .footer .menu__list {
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 200px;
    }

    .footer .menu__item {
        margin-bottom: 0;
        margin-top: 20px;
        order: 2;
    }

    .footer .menu__item:nth-child(2n+1) {
        margin-top: 25px;
        order: 1;
    }

    .footer__content {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    
    .footer-copyright {
        padding-top: 15px;
        padding-bottom: 30px;
    }

   .footer__text:nth-last-child(1) {
        padding-top: 20px;
    }
}

@media screen and (max-width: 520px) {
    .advantages__item {
        min-width: 250px;

    }
    .advantages__item:nth-child(2n+1) {
        margin-right: 0;
    }
}